
# Flutter / Dart

.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.dart_tool/
coverage/
*.lock

# Dart / Flutter generated (sometimes present)
.flutter-versions/
flutter_export_environment.sh


# IDE / Editor

.idea/
.vscode/
*.iml

# Optional: if you use Android Studio/IntelliJ run configs
*.iws


# OS files

.DS_Store
Thumbs.db


# Logs

*.log


# Android

android/.gradle/
android/local.properties
android/key.properties

# Keystores (NEVER commit these)
*.jks
*.keystore

# Fastlane (if you later add it)
android/fastlane/report.xml
android/fastlane/Preview.html
android/fastlane/screenshots
android/fastlane/test_output


# iOS / macOS

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace
ios/Runner/GeneratedPluginRegistrant.*

# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace
**/xcuserdata/
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3

# SwiftPM (if used)
.build/
Package.resolved


# Web (if you build for web)

web/.dart_tool/
web/build/


# Windows (if you build for Windows)

windows/flutter/ephemeral/


# Linux (if you build for Linux)

linux/flutter/ephemeral/


# macOS (if you build for macOS)

macos/Flutter/ephemeral/
# Secrets / environment files (if you ever add them)

.env
.env.*
*.pem
*.p12
*.pfx
*.crt
*.cer
*.der
*.key
